.home .video {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 100px;
  min-width: 1351px;
}

.home .overlap-group4 {
  height: 650px;
  position: relative;
  width: 1351px;
}

.home .rectangle-9 {
  background-color: #e3e3e3;
  height: 492px;
  left: 82px;
  position: absolute;
  top: 158px;
  width: 1269px;
}

.home .group-43 {
  align-items: flex-start;
  display: flex;
  gap: 1110px;
  height: 50px;
  left: 111px;
  min-width: 1210px;
  position: absolute;
  top: 379px;
}

.home .next-galeri {
  align-items: flex-start;
  border: 3px solid;
  border-color: #55976780;
  border-radius: 25px;
  display: flex;
  height: 25px;
  min-width: 25px;
  padding: 10px;
}

/* .home .next-3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--fruit-salad);
  border-radius: 25px;
  display: flex;
  height: 25px;
  min-width: 25px;
  padding: 10.8px 14.1px;
} */

.home .video-head {
  align-items: center;
  background-color: #559767;
  display: flex;
  gap: 35px;
  height: 160px;
  left: 0;
  min-width: 983px;
  padding: 0 188px;
  position: absolute;
  top: 0;
}

.home .flex-col-6 {
  align-items: flex-start;
  gap: 10px;
  margin-top: 1.41px;
  min-height: 87px;
  width: 417px;
}

.home .galeri-album-foto-terbaru {
  letter-spacing: 0;
  line-height: normal;
  min-height: 43px;
  white-space: nowrap;
}

.home .overlap-group-8 {
  align-items: flex-start;
  background-image: url(../img/rectangle-79.png);
  background-size: 100% 100%;
  display: flex;
  height: 34px;
  min-width: 131px;
  padding: 7px 10px;
}

.home .video-list {
  align-items: flex-start;
  display: flex;
  height: 390px;
  left: 195px;
  min-width: 1039px;
  position: absolute;
  top: 210px;
}

.home .album-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 390px;
  width: 337px;
}

.home .rectangle {
  height: 179px;
  object-fit: cover;
  width: 333px;
}

.home .overlap-group-9 {
  align-items: flex-end;
  background-color: var(--concrete-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 10px 14px;
  width: 333px;
}

.home .penanaman-bibit-kelapa-sawit-di-kutai {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 14px;
  min-height: 23px;
  width: 304px;
}

.home .icon-3 {
  align-items: center;
  gap: 9px;
  height: 15px;
  margin-left: 1.76px;
  min-width: 184px;
}

.home .date-post-4 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  margin-top: 1.0px;
  min-width: 74px;
}

.home .date-icon-1 {
  height: 12px;
  width: 11px;
}

.home .date-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.home .date-post-5 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 2px;
  min-width: 90px;
  padding: 0 0.0px;
}

.home .x4092564-about-mobile {
  height: 14px;
  width: 12px;
}

.home .lorem-ipsum-is-simpl-5 {
  margin-top: 17px;
  min-height: 121px;
  width: 304px;
}

.home .overlap-group1-3 {
  align-items: center;
  background-color: var(--concrete-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 390px;
  width: 333px;
}

.home .rectangle-38 {
  height: 180px;
  object-fit: cover;
  width: 333px;
}

.home .lomba-17-agusutus-2023 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 23px;
  min-height: 23px;
  width: 304px;
}

.home .icon-1 {
  align-items: center;
  gap: 9px;
  height: 15px;
  margin-left: 15.76px;
  min-width: 184px;
}

.home .date-post-2 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  margin-top: 1.0px;
  min-width: 74px;
  padding: 0 0.0px;
}

.home .date-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.home .date-post-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 2px;
  min-width: 90px;
}

.home .lorem-ipsum-is-simpl-1 {
  margin-left: 1.0px;
  margin-top: 17px;
  min-height: 121px;
  width: 304px;
}

.home .overlap-group2-3 {
  align-items: center;
  background-color: var(--concrete-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 390px;
  width: 333px;
}

.home .observasi-tim-rea-kaltim {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 24px;
  min-height: 23px;
  width: 304px;
}

.home .date-5 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.home .footer {
  align-items: flex-end;
  background-color: var(--fruit-salad);
  flex-shrink: 1;
  gap: 39px;
  height: auto;
  justify-content: flex-start;
  margin-top: 81px;
  min-height: 365px;
  padding: 59.9px 186px;
  width: 1440px;
}

.home .flex-row-1 {
  align-self: center;
  height: 166px;
  margin-top: 6px;
  min-width: 1066px;
}

.home .flex-col-7 {
  align-items: flex-start;
  gap: 21px;
  min-height: 148px;
  width: 292px;
}

.home .rea-kaltim-logo-white-1 {
  height: 45px;
  object-fit: cover;
  width: 265px;
}

.home .tautan-footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  margin-top: 1.38px;
  min-height: 139px;
  width: 174px;
}

.home .flex-row-2 {
  gap: 15px;
  height: 15px;
  margin-top: 16px;
  min-width: 128px;
}

.home .beranda-1 {
  min-height: 14px;
  min-width: 45px;
  white-space: nowrap;
}

.home .flex-row-3 {
  gap: 5px;
  height: 19px;
  margin-top: 12px;
  min-width: 109px;
}

.home .tentang-1 {
  align-self: flex-end;
  min-height: 19px;
  width: 55px;
}

.home .flex-row-4 {
  gap: 12px;
  height: 19px;
  margin-top: 8px;
  min-width: 158px;
}

.home .publikasi-1 {
  margin-top: 0.33px;
  min-height: 14px;
  min-width: 48px;
  white-space: nowrap;
}

.home .hubungi-kami-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  width: 98px;
}

.home .aplikasi-1 {
  margin-top: 7px;
  min-height: 19px;
  width: 87px;
}

.home .kontak-lain {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  white-space: nowrap;
}

.home .text-9 {
  min-height: 12px;
}

.home .text-10 {
  min-height: 12px;
}

.home .text-11 {
  min-height: 12px;
}

.home .overlap-group-10 {
  height: 11px;
  margin-top: 8px;
  position: relative;
  width: 46px;
}

.home .selengkapnya-2 {
  left: 0;
  position: absolute;
  top: 0;
}

.home .kantor-pusat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 69px;
  margin-top: 1.38px;
  min-height: 129px;
  width: 174px;
}

.home .alamat-kantor {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 38px;
  margin-top: 17px;
  min-width: 174px;
}

.home .perdana-kec-kemban {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  width: 143px;
}

.home .alamat-kantor-1 {
  min-width: 96px;
}

.home .adminreakid {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.home .alamat-kantor-2 {
  min-width: 95px;
}

.home .text-12 {
  min-height: 12px;
}

.home .footer-kanan {
  align-items: flex-start;
  gap: 14px;
  margin-left: 57px;
  margin-top: 1.0px;
  min-height: 78px;
  width: 98px;
}

.home .footer-bottom {
  align-items: center;
  gap: 10px;
  min-height: 34px;
  padding: 0.0px 0;
  width: 1067px;
}

.home .address-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  white-space: nowrap;
}

.home .alamat-kantor-3 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-top: 11px;
}

.home .aplikasi-2 {
  letter-spacing: 0;
  line-height: normal;
}

.home .beranda-2 {
  letter-spacing: 0;
  line-height: normal;
}

.home .cerah-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 6px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.home .chart-2 {
  display: flex;
  justify-content: flex-end;
}

.home .date-icon-1-4 {
  height: 12px;
  width: 12px;
}

.home .download-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  width: 73px;
}

.home .ellipse-9-3 {
  background-color: var(--black);
  border-radius: 1.96px;
  height: 4px;
  left: 17px;
  position: absolute;
  width: 4px;
}

.home .event-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 190px;
}

.home .flex-col-8 {
  display: flex;
  flex-direction: column;
}

.home .flex-row-5 {
  align-items: flex-start;
  display: flex;
}

.home .group-44-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.43px;
  min-height: 74px;
}

.home .icon-4 {
  align-self: flex-start;
  display: flex;
  margin-top: 1px;
}

.home .line-16-3 {
  left: 18px;
  position: absolute;
  top: 0;
}

.home .line-17-3 {
  height: 26px;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 20px;
}

.home .place-5 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  text-align: center;
}

.home .posted-by-admin-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.home .publikasi-2 {
  letter-spacing: 0;
  line-height: normal;
}

.home .selengkapnya-3 {
  letter-spacing: 0;
  line-height: normal;
}

.home .tentang-2 {
  letter-spacing: 0;
  line-height: normal;
}

.home .text {
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .vector-2-3 {
  height: 6px;
  width: 4px;
}

.home .x4092564-about-mobile-4 {
  height: 12px;
  width: 12px;
}
